<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item Number</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Inventory Code</th>
                        <th>Deposit Amount</th>
                        <th>Withdraw Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{item.id}}</td>
                        <td>{{item.itemNumber}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.inventoryCode}}</td>
                        <td>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button (click)="depositItemAmount(item.id)" class="btn btn-default"
                                            type="button">Deposit</button>
                                    </span>
                                    <input type="text" id="depositAmount{{item.id}}" class="form-control" placeholder="Amount">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button (click)="withdrawItemAmount(item.id)" class="btn btn-default"
                                            type="button">Withdraw</button>
                                    </span>
                                    <input type="text" id="withdrawAmount{{item.id}}" class="form-control" placeholder="Amount">
                                </div>
                            </div>
                        </td>
                        <td>
                            <button (click)="deleteItem(item.id)" type="button" class="btn btn-danger">Delete Item</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>